.comment__text{
margin-left:20px;
color: rgb(41, 47, 54);
font-size: 25px;
font-weight: 400;
text-align: center;
margin-bottom: 12px;
display:flex;
justify-content:start;
gap:20px;
align-items:center;
}
.comment__text__btn{
background: #DC143C;
font-size: 20px;
width: 80px;
height: 52px;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.comment__title{
color: rgb(41, 47, 54);
font-size: 50px;
font-weight: 400;
line-height: 125%;
text-align: center;
margin-bottom: 12px;
    }

